.chat-main
  .chat-main__info
    .chat-main__info__left-box
      .chat-main__info__left-box__name
        =@group.name
      .chat-main__info__left-box__members
        - @members.each do |member|
          = member.name
    .chat-main__info__right-box
      .chat-main__info__right-box__btn
        = link_to 'Edit' , edit_group_path(params[:group_id]) , class:"editter"
  .chat-main__message
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: '何か入力してください'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'